*
{
  margin: 0;
  padding:0;
  background-color: black;
  color: white;
}
h2
{
  position: relative;
  margin: 10%;
  right: 50px;
}
#scrollPath
{
    position: fixed;
    top:0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255,255,255,0.05);
    cursor: pointer;
}
#scrollbar
{
    position: fixed;
    top:0;
    right: 0;
    width: 10px;
    height: 25%;
    /*background: linear-gradient(to top, #008aff,#00ffe7);*/
    background: orangered;
    /*animation: animate1 5s linear infinite;*/
    cursor: pointer;
}